@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px;
  margin-top: -20px; 
  background: var(--background);
  color: var(--white);
  font-family: "Satoshi", sans-serif;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.pookie {
  margin-left: 1rem; 
}

.ball {
  margin-top: -4.55rem; 
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right p {
  font-size: 1.25rem;
  font-weight: bold;
}

.icons {
  margin-top: 1rem; 
  margin-left: 3rem;
}

.icons a {
  color: var(--white);
  transition: color 0.2s ease-in-out;
  margin-right: 10px; 
}

.icons a:hover {
  color: var(--green);
}

.icon {
  transition: color 0.2s ease-in-out;
}

.icon:hover {
  color: var(--green);
}

@keyframes bounce {
  0%   { transform: translateX(0vw) translateY(0) scaleY(1);}
  10%  { transform: translateX(10vw) translateY(-30px) scaleY(1.2); }
  20%  { transform: translateX(20vw) translateY(0) scaleY(0.8); }
  30%  { transform: translateX(30vw) translateY(-50px) scaleY(1.1); }
  40%  { transform: translateX(40vw) translateY(0) scaleY(0.9); }
  50%  { transform: translateX(50vw) translateY(-70px) scaleY(1.1); }
  60%  { transform: translateX(60vw) translateY(0) scaleY(0.9); }
  70%  { transform: translateX(70vw) translateY(-50px) scaleY(1.1); }
  80%  { transform: translateX(80vw) translateY(0) scaleY(0.9); }
  90%  { transform: translateX(90vw) translateY(-30px) scaleY(1.2); }
  100% { transform: translateX(100vw) translateY(0) scaleY(1); }
}

.bounce {
  animation: bounce 2s cubic-bezier(0.25, 1, 0.5, 1) forwards; 
}

.pookie {
  margin-left: 1rem; 
}

.ball {
  transition: transform 5s ease-in-out; 
  position: relative; 
  left: 0; 
  top: 50%; 
}

@keyframes pookie-chase {
  0% {
    transform: translateX(0vw); 
  }
  100% {
    transform: translateX(100vw); 
  }
}

.pookieRunning {
  margin-left: 1rem; 
  animation: pookie-chase 4s linear forwards; 
}


@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .right {
    align-items: flex-end;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left {
    justify-content: center;
  }

  .right {
    align-items: center;
  }
}
