@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  width: 100%;
  background: var(--background);
  color: var(--white);
  font-family: "Satoshi", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation List */
.navList {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navList li a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s ease-in-out;
}

.navList li a:hover {
  color: var(--green);
}

.navList li a.active {
  color: var(--green);
  font-weight: bold;
}


/* Logo */
.logo {
  width: 60px;
  height: auto;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .navList {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 2560px) {
  .nav {
    font-size: 2rem;
  }

  .logo {
    width: 80px;
  }
}
