@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");


.nav {
  display: flex; 
  flex-direction: row; 
  padding: 30px; 
  font-family: "Satoshi", sans-serif; 
  font-weight: bold; 
  font-size: 2rem; 
  width: 100vw; 
}

.navList {
  list-style-type: none; 
  display: flex; 
  gap: 10px;  
  margin-left: 60rem; 
}

.logo {
  margin-left: 30px;  
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .nav {
    margin-left: 10rem; 
  }
}