@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--background);
  color: var(--white);
  font-family: "Satoshi", sans-serif;
  text-align: center;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.projectCard {
  max-width: 280px; 
  height: 350px; 
  background: none;
  border-radius: 10px;
  border: 1px solid var(--white); 
  overflow: hidden;
  text-decoration: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.projectCard:hover {
  transform: scale(1.05);
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%; 
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.projectImage {
  width: 100%;
  max-height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.projectInfo {
  text-align: left;
  padding-top: 10px;
}

.toolsAndArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 10px 0;
}

.toolsUsed {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.toolChip {
  background: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid var(--white);
}

.arrowIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.arrowIcon:hover {
  transform: translateX(5px); 
}

.header {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  background: var(--background);
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.chipNav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.chip {
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold; 
  transition: all 0.3s ease;
}

.chip:hover {
  border: 1px solid var(--green);
}

.activeChip {
  border: 1px solid var(--green);
  color: white;
}
