@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: black;
  color: white;
  font-family: "Satoshi", sans-serif;
  text-align: center;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.projectList a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}

.projectList img {
  object-fit: cover;
  border-radius: 10px;
}

.projectList img:hover {
  border: 2px solid #E2BA13; 
}

.header {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  background: black;
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.chipNav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.chip {
  background: none;
  color: white;
  border: 2px solid rgb(114, 168, 20);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold; 
  transition: all 0.3s ease;
}

.chip:hover {
  background: rgb(114, 168, 20);
}

.activeChip {
  background: rgb(114, 168, 20);
  color: black;
}
