@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
  font-family: "Satoshi", sans-serif;
  text-align: center;
  cursor: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px; 
}

/* left section */
.intro {
  flex: 1;
  text-align: left;
}

.greeting {
  font-size: 1.2rem;
  color: var(--white);
}

.descriptor {
  color: var(--green)!important; 
}

.highlight {
  color: var(--yellow)!important; 
  font-style: italic; 
}

.intro h1 {
  font-size: 4rem;
  font-weight: bold;
}

.intro p {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: bold; 
}

.description {
  margin-top: 20px;
}

.description p {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--white);
}

.description h6 {
  font-size: 1.2rem; 
  color: rgb(205, 203, 203); 
  line-height: 10; 
}

.links a:hover {
  text-decoration: underline;
}

.projectGallery {
  flex: 1;
  position: relative;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  position: relative;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.cardFront {
  transform: rotateY(0deg);
}

.cardFront img, .cardBack img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.cardBack {
  transform: rotateY(180deg);
  background: #222;
}

.projectCard.flipped .cardFront {
  transform: rotateY(180deg);
}

.projectCard.flipped .cardBack {
  transform: rotateY(0deg);
}

.hoverLabel {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--white);
}
