@import url("https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap");

.productCard {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transform: scale(1.5); 
}

.header {
  text-align: left;
  width: 100%;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.header h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.banner {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: auto;
  max-width: 1100px;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 2rem;
  margin-top: 2rem; 
}

.overview, .role {
  flex: 1;
  min-width: 320px;
}

.role {
  text-align: right;
}

.overview h3, .role h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 15px; 
}

.overview p, .role p {
  font-size: 1.25rem; 
}

.sectionHeader {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin-top: 3rem;
}

.sectionHeader h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1100px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border: 2px solid var(--white);
  border-radius: 15px;
}

.videoPlayer {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.assetsSection {
  text-align: center;
  margin: 40px 0;
}

.assetsSection h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.assetsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.assetsGrid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.assetsGrid img:hover {
  transform: scale(1.05);
}


/* Buttons */
.tryButton {
  background: none;
  border: 2px solid var(--white);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 18px;
  margin-top: 30px;
  cursor: pointer;
  color: var(--white); 
}

.tryButton:hover {
  background: rgba(255, 255, 255, 0.25); 
}

.buttonContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 5rem auto 3rem; 
  padding: 0; 
}

.designSuccess {
  width: 100%;
  max-width: 1100px;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 2rem;
  padding: 1rem 0;
}

.paraTwo {
  margin-top: 1rem; 
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

@media (max-width: 1440px) {
  .productCard {
    max-width: 90vw;
  }
}

@media (max-width: 1024px) {
  .flexRow {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .role {
    text-align: center;
  }

  .gallery {
    gap: 20px;
  }

  .nextButton {
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  .productCard {
    max-width: 1200px;
  }

  .banner img, .gallery, .buttonGroup {
    max-width: 1200px;
  }

  .nextButton {
    font-size: 3rem;
  }
}

@media (min-width: 5120px) {
  .productCard {
    max-width: 1400px;
  }

  .banner img, .gallery, .buttonGroup, .flexRow {
    max-width: 1400px;
  }
}
